- var baseUrl = 'https://4wpf56tmg1.execute-api.ap-northeast-1.amazonaws.com/ecg_cloud/';
- var AuthLogin = baseUrl + 'AuthLogin'; // AuthLogin服务Uri
- var ClinicService = baseUrl + 'ClinicService'; // ClinicService服务Uri
- var UserManage = baseUrl + 'UserManage'; // UserManage服务Uri
- var TeamManage = baseUrl + 'TeamManage'; // TeamManage服务Uri
- var DoctorCli = baseUrl + 'DoctorCli'; // DoctorCli服务Uri
- var TechnicianCli = baseUrl + 'TechnicianCli'; // TechnicianCli服务Uri
- var HospitalCli = baseUrl + 'HospitalCli'; // HospitalCli服务Uri
- var PartnerCli = baseUrl + 'PartnerCli'; // PartnerCli服务Uri
