- var AuthLogin = 'http://localhost:10001'; // AuthLogin服务Uri
- var ClinicService = 'http://localhost:10002'; // ClinicService服务Uri
- var UserManage = 'http://localhost:10003'; // UserManage服务Uri
- var TeamManage = 'http://localhost:10004'; // TeamManage服务Uri
- var DoctorCli = 'http://localhost:10005'; // DoctorCli服务Uri
- var TechnicianCli = 'http://localhost:10006'; // TechnicianCli服务Uri
- var HospitalCli = 'http://localhost:10007'; // HospitalCli服务Uri
- var PartnerCli = 'http://localhost:10008'; // PartnerCli服务Uri
