// - extends 继承 layout.jade
extends ../layout.jade
block vars
    - var nav_parent = 'task';
block title
    title 检查单管理 | 基层医院
block content
    div.path-navigation
        ol.breadcrumb
            li.active 所有检查单
    div.container-fluid
        b.table-title.pull-left 检查单列表
    div.container-fluid.table-container
        table.table.table-striped.table-hover.table-bordered#clinicTable(cellspacing="0", width="100%")
            thead
                tr
                    th #
                    th 病人号
                    th 身份证号
                    th 姓名
                    th 描述
                    th 状态
                    th 操作
            tbody

block script
    script(src="/lib/DataTables-1.10.8/js/jquery.dataTables.min.js")
    script(src="/lib/DataTables-1.10.8/js/dataTables.bootstrap.min.js")
    script(src="/lib/bootstrap-datetimepicker/moment/moment.js")
    script.
        seajs.use('js/clinicManage');
